In [2]:
import pandas as pd

cars = pd.read_csv('data.csv')
ohe_cars = pd.get_dummies(cars[['Car']])

print(ohe_cars.to_string())

    Car_Audi  Car_BMW  Car_Fiat  Car_Ford  Car_Honda  Car_Hundai  Car_Hyundai  Car_Mazda  Car_Mercedes  Car_Mini  Car_Mitsubishi  Car_Opel  Car_Skoda  Car_Suzuki  Car_Toyoty  Car_VW  Car_Volvo
0          0        0         0         0          0           0            0          0             0         0               0         0          0           0           1       0          0
1          0        0         0         0          0           0            0          0             0         0               1         0          0           0           0       0          0
2          0        0         0         0          0           0            0          0             0         0               0         0          1           0           0       0          0
3          0        0         1         0          0           0            0          0             0         0               0         0          0           0           0       0          0
4          0        0         0         0          0           0            0          0             0         1               0         0          0           0           0       0          0
5          0        0         0         0          0           0            0          0             0         0               0         0          0           0           0       1          0
6          0        0         0         0          0           0            0          0             0         0               0         0          1           0           0       0          0
7          0        0         0         0          0           0            0          0             1         0               0         0          0           0           0       0          0
8          0        0         0         1          0           0            0          0             0         0               0         0          0           0           0       0          0
9          1        0         0         0          0           0            0          0             0         0               0         0          0           0           0       0          0
10         0        0         0         0          0           0            1          0             0         0               0         0          0           0           0       0          0
11         0        0         0         0          0           0            0          0             0         0               0         0          0           1           0       0          0
12         0        0         0         1          0           0            0          0             0         0               0         0          0           0           0       0          0
13         0        0         0         0          1           0            0          0             0         0               0         0          0           0           0       0          0
14         0        0         0         0          0           1            0          0             0         0               0         0          0           0           0       0          0
15         0        0         0         0          0           0            0          0             0         0               0         1          0           0           0       0          0
16         0        1         0         0          0           0            0          0             0         0               0         0          0           0           0       0          0
17         0        0         0         0          0           0            0          1             0         0               0         0          0           0           0       0          0
18         0        0         0         0          0           0            0          0             0         0               0         0          1           0           0       0          0
19         0        0         0         1          0           0            0          0             0         0               0         0          0           0           0       0          0
20         0        0         0         1          0           0            0          0             0         0               0         0          0           0           0       0          0
21         0        0         0         0          0           0            0          0             0         0               0         1          0           0           0       0          0
22         0        0         0         0          0           0            0          0             1         0               0         0          0           0           0       0          0
23         0        0         0         0          0           0            0          0             0         0               0         0          1           0           0       0          0
24         0        0         0         0          0           0            0          0             0         0               0         0          0           0           0       0          1
25         0        0         0         0          0           0            0          0             1         0               0         0          0           0           0       0          0
26         1        0         0         0          0           0            0          0             0         0               0         0          0           0           0       0          0
27         1        0         0         0          0           0            0          0             0         0               0         0          0           0           0       0          0
28         0        0         0         0          0           0            0          0             0         0               0         0          0           0           0       0          1
29         0        1         0         0          0           0            0          0             0         0               0         0          0           0           0       0          0
30         0        0         0         0          0           0            0          0             1         0               0         0          0           0           0       0          0
31         0        0         0         0          0           0            0          0             0         0               0         0          0           0           0       0          1
32         0        0         0         1          0           0            0          0             0         0               0         0          0           0           0       0          0
33         0        1         0         0          0           0            0          0             0         0               0         0          0           0           0       0          0
34         0        0         0         0          0           0            0          0             0         0               0         1          0           0           0       0          0
35         0        0         0         0          0           0            0          0             1         0               0         0          0           0           0       0          0

In [3]:
import pandas
from sklearn import linear_model

cars = pandas.read_csv("data.csv")
ohe_cars = pandas.get_dummies(cars[['Car']])

X = pandas.concat([cars[['Volume', 'Weight']], ohe_cars], axis=1)
y = cars['CO2']

regr = linear_model.LinearRegression()
regr.fit(X,y)

##predict the CO2 emission of a Volvo where the weight is 2300kg, and the volume is 1300cm3:
predictedCO2 = regr.predict([[2300, 1300,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0]])

print(predictedCO2)

[122.45153299]

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

# Dummifying

In [4]:
colors = pd.DataFrame({'color': ['blue', 'red']})

print(colors)

  color
0  blue
1   red

You can create 1 column called red where 1 represents red and 0 represents not red, which means it is blue.

In [5]:

colors = pd.DataFrame({'color': ['blue', 'red', 'green']})
dummies = pd.get_dummies(colors, drop_first=True)
dummies['color'] = colors['color']

print(dummies)

   color_green  color_red  color
0            0          0   blue
1            0          1    red
2            1          0  green